{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam assumenda dicta earum error ex, fugit labore laboriosam laudantium odit quae quia quidem quo rem repellat rerum sunt veritatis vitae.

    </div>
{% endblock %}
