{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}

<div class="test">YES</div>
<div class="margin-top">
<h2 class="h2-home mt-5">Défier ou être défié ?</h2>
    <div class="btn-margin">
        <div class="btn-home mt-5 mb-5">
            <a href="{{ path('profile') }}">Mes défis</a>
        </div>
    </div>
    <div class="btn-margin">
        <div class="btn-home mt-5">
            <a href="{{ path('cap_index') }}">Lancer une partie</a>
        </div>
    </div>
</div>

{% endblock %}
