{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}

<div class="margin-top">
    <h1 class="my-profile mt-5">Défier ou</br> être défié ?</h1>
    <div class="btn-margin">
        <div class="btn-home mt-5 mb-5">
            <a href="{{ path('profile') }}">Mes défis</a>
        </div>
    </div>
    <div class="btn-margin">
        <div class="btn-home mt-5">
            <a href="{{ path('cap_index') }}">Lancer une partie</a>
        </div>
    </div>
</div>

{% endblock %}
