{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}
    <h1>Choisis ton défi avec {{ friend.username }}</h1>
    <div class="">
        <div class="btn-margin">
            <div class="btn-home mt-5 mb-5">
                <a href="{{ path('cap_friend_new', {'idFriend': friend.id}) }}">Créer un défi</a>
            </div>
        </div>
        <div class="btn-margin">
            <div class="btn-home mt-5">
                <a href="{{ path('cap_friend_alea', {'idFriend': friend.id}) }}">Défi aléatoire</a>
            </div>
        </div>
    </div>

{% endblock %}
