{% extends 'base.html.twig' %}

{% block title %}New Cap{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Valider</button>
    {{ form_end(form) }}
{% endblock %}