{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}
    <h1>Qui veux tu défier ???</h1>
    <div class="">
        <div class="btn-margin">
            <div class="btn-home mt-5 mb-5">
                <a href="{{ path('friend') }}">Défier un ami</a>
            </div>
        </div>
        <div class="btn-margin">
            <div class="btn-home mt-5">
                <a href="{{ path('choose_challenge', {'id': app.user.id}) }}">Défier un inconnu</a>
                <p class="font-italic mt-5">Encore mieux que Tinder</p>
            </div>
        </div>
    </div>

{% endblock %}
