{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}
    <div class="margin-top">
        <div class="btn-margin">
            <div class="btn-home mt-5 mb-5">
                <a href="{{ path('cap_friends') }}">Défier un ami</a>
            </div>
        </div>
        <div class="btn-margin">
            <div class="btn-home mt-5">
                <a href="{{ path('cap_unknown_alea') }}">défier un inconnu</a>
                <p class="font-italic mt-5">Encore mieux que Tinder</p>
            </div>
        </div>
    </div>

{% endblock %}
