{% extends 'base.html.twig' %}

{% block title %}New Cap{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <div class="defi-alea d-flex justify-content-center align-items-center">
        <form action="{{ path('cap_alea') }}">
            <button>Choisir un défi au hasard</button>
        </form>
    </div>
{% endblock %}