{% extends 'base.html.twig' %}

{% block title %}Random Cap{% endblock %}

{% block body %}
    <div class="h-100 w-100 bg-danger">
        <div id="shiva"><span class="count">200</span></div>
    </div>
{% endblock %}