{% extends 'base.html.twig' %}

{% block title %}New Cap{% endblock %}

{% block body %}
    <div class="defi-alea d-flex justify-content-center align-items-center">
        <form action="{{ path('cap_alea') }}">
            <button>Choisir un défi au hasard</button>
        </form>
    </div>
{% endblock %}