@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "variables";
@import "global";
@import "profile";
@import "home";
@import "cap";
@import "friend";
@import "login";
@import "validate";
