#defi {
  width: 100%;
}

.form-group {
  margin: 6vh;
  input {
    height: 6vh;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
  }
  select {
    height: 4.5vh;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
  }
  textarea {
    height: 13vh;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
  }
  label {
    font-size: 260%;
  }
}

.defi-alea {
  margin-top: 10vh;
  .label {
    font-size: 260%;
    font-weight: bold;
  }
  .infos {
    font-size: 200%;
  }
}

.infos-group {
  margin: 3vh 6vh;
}

.unknown-validator {
  margin-top: 10vh;
}

.card-defi{
  text-align: center;
}
