h1 {
  font-family: Chilanka;
  font-weight: bold;
  color: $light-blue;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
  font-size: 3.5em;
}
.form-search{
  margin-bottom: 5em;
  height: 3em;
  form{
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    margin-left: 11em;
    justify-content: space-around;
    input{
      border-radius: 40px;
      height: 2em;
      width: 15em;
    }
    .search-btn{
      background-image: linear-gradient(to right, #2f06f3 0%,  #09b175 51%, #2F06F3  100%);
      //padding: 10px 30px;
      margin-left: 10px;
      text-align: center;
      font-size: 15px;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border-radius: 40px;
      display: block;
      width: 7em;
      height:2.2em;
      &:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }

    }
  }
}
.list {
    flex-direction: row;
    display: flex;
    justify-content: center;

}
li{
  list-style: none;
  font-size: 1em;
}


