h1 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  color: $light-blue;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
  font-size: 3.5em;
}
.form-search{
  margin-bottom: 5em;
  height: 3em;
  form{
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    margin-left: 11em;
    justify-content: space-around;
    input{
      border-radius: 40px;
      height: 2em;
      width: 15em;
    }
  }
}

.search-btn{
  @extend .btn-simple;
  width: 7em;
  height:2.2em;
  padding: 0 10px;
}

.list {
    flex-direction: row;
    display: flex;
    justify-content: center;

}
li{
  list-style: none;
  font-size: 2em;
}


