body{
  background-color: $dark-blue;
  margin-top: 100px;
  color:white;
  font-family: 'Cairo', sans-serif;
}

.logo {
  border-radius: 500px;
  background-color: white;
  box-shadow: 1px 1px 8px 4px lightgrey;
  color: $dark-blue;
  height: 70px;
  width: 70px;
  margin: 20px 0 0 20px;
  div {
    font-size: 45px;
    font-weight: bold;
  }
}

.connection {
  margin: 20px 20px 0 0;
  font-size: 25px;
  color: white;
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

.margin-top {
  margin-top: 150px;
}

.logo-link:hover {
  text-decoration: none;
}

.nav {
  padding-bottom: 10px;
  background-color: $dark-blue;
}

.btn-simple{
  padding: 0.6em 2em;
  background-image: linear-gradient(to right, #2f06f3 0%,  #09b175 51%, #2F06F3  100%);
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 40px;
  display: block;
  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}


.main-logo {
  height: 40px;
}
/*
#well-done {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2000;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff26;
}

.well-done-start {
  @extend .d-none;
}

.well-done-end {
  @extend .d-flex;
}
*/

.effcet{
  opacity: 0%;
  position: absolute;
}
.d-flex-well{
  opacity: 100%;
  transition: ease-in 1200mS;
}

.btn-subimited{
  padding-left: 30px;
  font-weight: bold;
}

button {
  font-weight: bold;
}

.green {
  color: $green;
  font-weight: bold;
}




