body{
  background-color: $dark-blue;
  margin-top: 100px;
  color:white;
}

.logo {
  border-radius: 500px;
  background-color: white;
  box-shadow: 1px 1px 8px 4px lightgrey;
  color: $dark-blue;
  height: 70px;
  width: 70px;
  margin: 20px 0 0 20px;
  div {
    font-size: 45px;
    font-weight: bold;
  }
}

.connection {
  margin: 20px 20px 0 0;
  font-size: 25px;
  color: white;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      font-weight: bold;
      color: white;
    }
  }
}

.margin-top {
  margin-top: 150px;
}

.logo-link:hover {
  text-decoration: none;
}

.nav {
  padding-bottom: 10px;
  background-color: $dark-blue;
}


