.btn-home{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: auto;
  //background-color: white;
  width: 200px;
  height : 75px;
  //color: $primary;
  text-align: center;
  border-radius: 20px;
  /**/
  background-image: linear-gradient(to left, #2F06F3 0%,  #09b175 51%, #2F06F3  100%);
  //margin: 2em;
  //text-align: center;
  font-size: 30px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  //border-radius: 60px;
  //display: block;
  //width: 9em;
  //height:1.6em;
  &:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
  }
  a{
    margin-top: 21px;
    font-size: 20px;
    color:white;
    text-decoration: none;
  }
}
.btn-margin {
  margin-top: 60px;
}
.h1-home{
  color: white;
  font-weight: bold;
  font-size: 58px;
  text-align: center;
}

.h2-home {
  color: white;
  font-size: 35px;
  text-align: center;
}

.h2-start{
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.quote{
  font-size: 19px;
}