.btn-home{
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  width: 200px;
  height : 75px;
  color: $primary;
  text-align: center;
  border-radius: 20px;
  a{
    margin-top: 21px;
    font-size: 20px;
  }
}
.btn-margin {
  margin-top: 60px;
}
.h1-home{
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.h2-home {
  color: white;
  font-size: 35px;
  text-align: center;
}
