.my-profile {
  text-align: center;
  margin-top: 30px;

  h1 {
    color : $light-blue;
    font-size : 3em;
  }

  h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  h3 {
    background-image: linear-gradient(to right, #2f06f3 0%, #09b175 100%);
    border-radius: 20px;
    width: 85%;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  ul {
    list-style: none;
  }

  li {
    font-size: 1.3em;
    margin-right : 40px;
  }

  a {
    color : $white;
  }

  .score-logos {
    display: flex;
    justify-content: space-around;
  }

  .score {
    display: flex;
    text-align: center;
    margin-top: 10px;
  }

  .title-score {
    margin-right: 70px;
    margin-left: 50px;
  }

  .logo {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin-left: 0;
  }

  img {
    width: 75%;
    margin-top: 20px;
  }

  .link-new-game {
    font-size: 1.5em;
    background-image: linear-gradient(to right, #2f06f3 0%, #09b175 100%);
    padding: 0px 15px;
    border-radius: 50%;
    color : $white;
    height: 55px;
    width: 55px;
    a {
      padding-bottom: 7px;
    }
  }

.accompli {
  display: flex;
  justify-content: space-around;
}

  .creator {
    background-color: #2F06F3;
    border-radius: 25px;
    margin : 10px;
    color : $light-blue;
  }
  .catcher {
    background-color: #26866f;
    border-radius: 25px;
    margin : 10px;
    color : $green;
  }
}


#user-score {
  color: $dark-blue;
}

#countup {
  font-size: 40px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {

  .new-game{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 20%;
  }
}

.banner-link:hover {
  text-decoration: none;
}

