
.btn-coeur {
  background-image: url("../images/heart-solid.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: $white;
  width: 55px;
  height: 55px;
  box-shadow: 0px 0px 10px $black;
  margin-left: 136px;
  margin-top: 2em;
}

.btn-croix {
  background-image: url("../images/times-solid.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: $white;
  width: 55px;
  height: 55px;
  box-shadow: 0px 0px 10px $black;
  margin-left: 30px;
}

.btn-croix:hover {
  transition: 350ms ease-in;
  background: red;
}

.btn-coeur:hover{
  transition: 350ms ease-in;
  background: green;
}
