<div class="fixed-top d-flex justify-content-between">
    <a href="{{ path('start') }}">
        <div class="logo row align-items-center justify-content-center font-weight-bold">
                <div>C</div>
        </div>
    </a>
    <div class="connection d-flex justify-content-center align-items-center">
        <div>
            <a href="{{ path('home') }}">Déconnection</a>
        </div>
    </div>
</div>
